.loadingContainer{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}



.shinyText {

  text-align: center;

  color: transparent;
  background: linear-gradient(
    120deg,
    rgba(181, 181, 181, 0.6) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(181, 181, 181, 0.6) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
  font-size: 2rem;
  font-weight: 600;
  
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}