.sceneContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0,0);
   position: absolute;

}
.Canvas{
    position: absolute;
    height: 100%;
    width: 100%;

    
}


.legend{
    margin: 30px 30px;
    padding: 5px 5px;
    border: 0.5px solid white;
    position: absolute;
    color: white;
    background-color: black;
}

.tas{
    color: #ff2d9a;
}
.hurs{
    color: #00b7ff;

}
.sfcWind{
   color:  #b6ff3b;

}

