.table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    animation: fadeIn 5s;
    opacity: 0.5;
}

.th{
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.td{
  padding: 8px;
  border-bottom: 1px solid #eee;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 0.5; }
}
